:root {
    --sinopia: #d03700;
    --flame: #e53d00;
    --tangerine: #ef7e00;
    --jasmine: #fada7c;
    --babyPowder: #fcfff7;
    --midBlue: #8fd0cc;
    --cadetBlue: #4a9c99;
    --skobeloff: #046865;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--skobeloff);
}

#pageHeader,
.row:last-of-type {
    border-bottom: .2rem solid var(--tangerine);
}

#topStuff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
}

#smallCal {
    background-color: var(--sinopia);
    color: var(--jasmine);
    font-size: 1.2rem;
    border-radius: 2rem;
    font-weight: bold;
    border-style: none;
    margin: auto 0 .5rem 4rem;
}

#smallCal:hover,
.saveBtn img:hover {
    transform: translate(2px, 2px);
}

#calImg {
    height: 1rem;
    margin-left: .1rem;
    margin-bottom: .1rem;
}

#title {
    margin: auto 2rem;
    padding: 1rem;
    font-size: 3rem;
    color: var(--jasmine);
    font-weight: bold;
}

#appInfo p {
    color: var(--jasmine);
    font-size: 1.3rem;
    margin: auto 2rem;
    padding: 0 1rem 2rem;
    text-align: right;
}

#date {
    margin: 0;
    padding: .6rem;
    background-color: var(--jasmine);
    color: var(--skobeloff);
    font-size: 1.5rem;
    text-align: center;

}

.row {
    background-color: var(--midBlue);
    height: 5.5rem;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: .1rem dashed var(--babyPowder);
}

.timeBlock {
    border-right: .1rem dotted var(--babyPowder);
}

.saveBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: .1rem dotted var(--babyPowder);
}

.saveBtn button {
    border: none;
    background-color: var(--midBlue);
}

.saveBtn img {
    width: 3rem;
    height: auto;
    padding: .5rem;
    border-radius: .7rem;
    background-color: var(--sinopia);
    box-shadow: 1px 1px 5px var(--tangerine);
}